networks:
  proxy:
    external: true
services:
  api-ambito-mercados:
    container_name: api-ambito-mercados
    environment:
    - PUID=568
    - PGID=568
    - TZ=America/Bogota
    image: lbandi2/api-ambito-mercados:latest
    networks:
    - proxy
    ports:
    - 10.10.15.10:${PORT}:80
    restart: unless-stopped
    labels:
    # Homepage
    - homepage.group=APIs
    - homepage.name=Ambito Mercados
    - homepage.icon=https://licitacionesargentina.com/wp-content/uploads/2022/11/Publicar-licitacion-en-diario-Ambito-Financiero-Licitaciones-1.png
    - homepage.href=http://10.10.15.10:${PORT}/docs
    - homepage.description=Valores de mercado
    - homepage.target=_top



